.App {
  text-align: center;
  width: auto;
  height: auto;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	background-color: honeydew;
}

header {
  display: flex;
  width: 100%;
  min-height: 120px;
  padding-top: 1em;
  margin-bottom: 2%;
  background-color:darkslategrey;
  color: white;
  border-bottom: orangered 3px solid;
}

header h1{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 20px;
  text-decoration: underline;
	color: white;
	margin-left: 5em;
  float: left;
  width: 5%;
  display: flex;
}

header nav{
  float: right;
  width: 100%;
}

header nav a{
  display: inline-flex;
	margin: 6px 30px;
	padding: 2px 6px;
  color: white;
	text-decoration: none;
	font-family: Gotu;
	font-size: 16px;
	font-weight: bold;
  /* background-color:powderblue */
}

header nav a:hover{
  border-bottom: 3px solid orangered;
}

footer{
  margin-top: 22%;
  width: 100%;
  overflow: hidden;
  min-height: 120 px;
  background-color: darkslategrey;
  color: white;
  padding-bottom: 10px 0;
  border-top: orangered 3px solid;
}