.App {
  text-align: center;
  width: auto;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-grow: initial;
}

footer{
  width: 100%;
  overflow: hidden;
  min-height: 120 px;
  background-color: darkslategrey;
  color: white;
  padding-bottom: 20px;
  border-top: orangered 3px solid;
}
